.ol-triangle {
  list-style-type: none;
}

.li-triangle {
  position: relative;
  margin: 0;
  padding-left: 15px;
}

.li-triangle:before {
  content: '';
  background-color: #c00;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 5px;
  width: 2px;
}

.li-triangle:after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%23c00' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E");
  position: absolute;
  left: 0;
  top: 6px;
  height: 12px;
  width: 12px;
}
