/* Cool links */
.link {
    text-decoration: none;
    line-height: 1;
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 5px 5px;
    overflow: hidden;
    color: #ffffff;
    vertical-align: bottom;
    transition: color .3s ease-out;
}
.link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
    transition: transform .25s ease-out;
}
.link:hover {
    text-decoration: none;
    color: #fff;
}
.link:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
}
