/* BLOCK STUFF */
.blocks-container{
    width: 100%;
}
.long-block{
    background-color: #3498db;
    border: 1px solid #2980b9;
    border-radius: 5px;

    overflow-x: scroll;
    overflow-y: scroll;

    width: 100%;
    max-height: 450px;
    padding: 1% 0;

    display: inline-block;
    font-size: 14px;
    color: #ecf0f1;
}
.long-block::-webkit-scrollbar {
    display: none;
}
.block-title{
    font-family: "Helvetica Neue";
    font-weight: bold;
    margin-bottom: 1%;
    font-size: 18px;

    color: #ecf0f1;
}

/* TABLE STUFF */
table{
    margin-bottom: -1% !important;
}
thead{
    background-color: black;
}
th{
    text-align: center !important;
}
tbody{
    background-color: #ecf0f1;
    color: black;
}
img {
    width: 25px;
    height: 25px;
    max-width: 25px;
    max-height: 25px;
}
hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}
td{
    padding: 10px 5px !important;
}
/* TABS STUFF */
.tab-container{
    background-color: white;
    padding: 2%;

    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
