@import url("css/sidebar.css");
@import url("css/timeline.css");
@import url("css/custom-lists.css");
@import url("css/custom-links.css");

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f7f1e3 !important;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Form stuff */
.form-tab {
    padding: 2%;
}
.form-label {
    margin: 0;
}
.label-row {
    margin-bottom: -12px;
}

/* Each page CSS */
.page-wrapper{
    padding: 1.5% 3.5%;
    margin-left: 20%;
    width: 80%;
}
.page-title{
    text-align: left;
}

/* Table detail */
.expanded-row {
    padding: 1%;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

/* Tab and table */
.tab-content {
    /* height: auto; */
    background-color: white;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    /* overflow-x: hidden; */
}
table {
    text-align: center;
    font-size: 15px;
}
.rdt_Table {
    height: auto !important;
}

/* StatWidget */
.huge{
    font-size: 25px;
    text-align: right;
}
.header-text{
    text-align: right;
}

/* File input */
.file-input {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #106BA0;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
}

/* Modal stuff */
.modal-backdrop.fade { opacity: 0; filter: alpha(opacity=0); }
.modal-backdrop.in { opacity: 0.5; filter: alpha(opacity=50); }

/* Responsive sidebar */
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        height: 30px;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
    .nav-side-menu .menu-list .menu-content {
        text-align: left !important;
    }
    .page-wrapper{
        margin-top: -1.7%;
        margin-left: 0%;
        width: 100%;
    }
}
.button-wrapper{
    height: 100%;
    width: 100%;
    padding-left: 2.5%;
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
        text-align: left !important;
    }
}
