body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ececd8 !important;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Each page CSS */
.page-wrapper{
    padding: 0% 3.5%;
    margin-left: 20%;
    width: 80%;
    font-family: "Helvetica Neue";
}
.forms-bootstrap-style{
    padding: 0;
    margin: 0;
}
.page-title{
    text-align: left;
}

/* Side bar CSS */
.nav-side-menu {
    overflow: auto; font-family: verdana; font-size: 12px;
    font-weight: 200; background-color: #2e353d; position: fixed;
    top: 0px; width: 20%; height: 100%; color: #e1ffff;
}
.nav-side-menu .brand {
    background-color: #23282e; line-height: 50px;
    display: block; text-align: center; font-size: 14px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none; padding: 0px; margin: 0px;
    line-height: 35px; cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome; content: "\f078";
    display: inline-block;
    padding-left: 10px; padding-right: 10px;
    vertical-align: middle; float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d; background-color: #4f5b69;
}
.nav-side-menu li {
    padding-left: 0px; border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
    text-decoration: none; color: #e1ffff;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        height: 30px;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
    .nav-side-menu .menu-list .menu-content {
        text-align: left !important;
    }
    .page-wrapper{
        margin-top: -1.7%;
        margin-left: 0%;
        width: 100%;
    }
}
.button-wrapper{
    height: 100%;
    width: 100%;
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
        text-align: left !important;
    }
}

/* CURSOR */
td img{
    cursor: pointer;
}

/* Modal stuff */
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
